PORT=8000
JWT_SECRET=parekh_super_secret_key

# Database Connection (Supabase PostgreSQL Connection Pooler URL)
DATABASE_URL=

# Cloudinary Storage
CLOUDINARY_CLOUD_NAME=jfllmcrm
CLOUDINARY_API_KEY=886524937592756
CLOUDINARY_API_SECRET=I3sA0GsS29SuDRKEvbJE6hkCPOg

# Email Transporter (Gmail App Password)
SMTP_USER=
SMTP_PASS=
