PORT=8000
JWT_SECRET=parekh_super_secret_key

# Database Connection (Supabase PostgreSQL)
# Example: postgres://postgres.[project-ref]:[password]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres
DATABASE_URL=

# Cloudinary Storage
CLOUDINARY_CLOUD_NAME=jfllmcrm
CLOUDINARY_API_KEY=886524937592756
CLOUDINARY_API_SECRET=I3sA0GsS29SuDRKEvbJE6hkCPOg
